np<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope="col" [appSort]="dataList" data-order="desc" data-name="id">Id</th>
      <th scope="col" [appSort]="dataList" data-order="desc" data-name="name">Name</th>
      <th scope="col" [appSort]="dataList" data-order="desc" data-name="age">Age</th>
      <th scope="col" [appSort]="dataList" data-order="desc" data-name="dob" data-type="date">Date Of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.dob }}</td>
    </tr>
  </tbody>
</table>
